.footer__container {
  padding-top: 42px;
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: @vTabletWidth) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @vDesktopWidth) {
    background-color: @colorWhite;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom: 40px;

    .footer--inner & {
      padding-top: 67px;
    }
  }
}

.footer__copyright {
  margin-top: 36px;

  @media (min-width: @vTabletWidth) {
    margin-top: 0;
  }
}

.footer__hashtag-pic {
  height: 16px;
  width: 138px;
}

.footer__list {
  margin: 0;
  margin-top: 35px;

  @media (min-width: @vTabletWidth) {
    margin-top: 0;
  }
}

.footer__hashtag-link {
  @media (min-width: @vTabletWidth) {
    margin-top: 5px;
  }
}
