.header {
  position: relative;
  background-color: @colorWhite;

  &--inner {
    z-index: 1;
  }
}

.header--opened .header__dropdown {
  display: block;
}

.header--opened .header__toggle--opened {
  display: block;
  z-index: 2;
}


.header__wrapper {
  text-align: right;
  padding-top: 17px;
  padding-bottom: 17px;

  @media (min-width: @vTabletWidth) {
    display: flex;
  }
}

.header__dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: @vTabletWidth) {
    display: block;
    width: 100%;
    position: relative;
  }

  @media (min-width: @vDesktopWidth) {
    padding-top: 9px;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
}

.header__toggle {
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  width: 23px;
  height: 23px;
  background-color: inherit;
  border: none;

  @media (min-width: @vTabletWidth) {
    display: none;
  }
}

.header__toggle::before {
  content: "";
  width: 23px;
  height: 4px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: @colorBasicBlue;
  box-shadow: 0 9px 0 0 @colorBasicBlue, 0 18px 0 0 @colorBasicBlue;

  .header--opened & {
    display: none;
  }
}

.header__toggle--opened::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 280px;
  background-image: url("../img/icon/icon-cross.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;

  .header--opened & {
    display: block;
  }
}
