.header {
  position: relative;
  padding-left: 30px;
  padding-right: 28px;
}

.header--opened {
  .header__dropdown {
    display: block;
    // todo временно, удалить при реализации открывания меню
    grid-column: 1/-1;
  }
}


.header__wrapper {
  text-align: right;
  // display: grid;
  // align-items: flex-start;
  // grid-template-columns: auto min-content;

  @media (min-width: @vTabletWidth) {
    display: flex;
  }
}

.header__dropdown {
  display: none;

  @media (min-width: @vTabletWidth) {
    display: block;
    padding-top: 10px;
    padding-bottom: 16px;
    width: 100%;
    // grid-column: 1/-1;
    // grid-row: 1/2;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  // @media (min-width: @vTabletWidth) {
  // }
}

.header__toggle {
  margin-top: 17px;
  margin-bottom: 17px;
  width: 23px;
  height: 22px;
  cursor: pointer;


  &--opened {
    position: absolute;
    top: 0;
    right: 20px;
  }

  @media (min-width: @vTabletWidth) {
    display: none;
  }
}
