.navigation {
  width: 100%;
  text-align: center;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @vTabletWidth) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.navigation__link {
  .link;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  color: @colorWhite;
  width: 100%;
  height: 55px;
  padding-top: 17px;
  padding-bottom: 12px;
  display: block;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

  &:hover {
    background-color: @colorDarkBlue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @colorSpecialBlue;
  }

  &:disabled {
    background-color: @colorControlGrey;
  }

  @media (min-width: @vTabletWidth) {
    font-size: 14px;
    line-height: 1.5;
    color: @colorBlackDark;
    box-shadow: none;
    background: none;
    padding-top: 10px;
    padding-bottom: 0;
    height: auto;

    &--current {
      color: @colorBrown;
    }
  }
}

.navigation__item {
  width: 100%;
  background-color: @colorBasicBlue;

  @media (min-width: @vTabletWidth) {
    background-color: inherit;
    flex: 0 0 153px;
  }

  @media (min-width: @vDesktopWidth) {
    flex: 0 0 240px;
  }
}

.navigation__list .navigation__item:nth-child(4n+3) {
  @media (min-width: @vTabletWidth) {
    margin-left: auto;
  }
}
