.button {
  cursor: pointer;
  border: none;
  background-color: #81b3d2;
  padding: 16px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #669ec0;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
