@colorWhite: #ffffff;
@colorBlackDark: #333333;
@colorBasicBlue: #81b3d2;
@colorDarkBlue: #669ec0;
@colorBasicGrey: #eeeeee;
@colorSpecialGrey: #f2f2f2;

@vTabletWidth: 768px;
@vDesktopWidth: 1280px;
// @vMaxTablet: @desktop-width - 1px;
