.advantages {
  background-color: @colorBasicBlue;
  margin-top: -1px;
}

.advantages__text {
  line-height: 1.5;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: orderedlist;
  background-color: @colorBasicGrey;
  padding-bottom: 3px;

  @media (min-width: @vTabletWidth) {
    padding-bottom: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__box {
  position: relative;
  display: block;
  padding-bottom: 52px;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 8px;
  background-color: @colorWhite;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);

  @media (min-width: @vTabletWidth) {
    padding-left: 21px;
    padding-top: 3px;
    padding-bottom: 56px;
    clip-path: none;
  }
}

.advantages__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 11px;

  &--color {
    color: @colorWhite;
  }

  @media (min-width: @vTabletWidth) {
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 14px;
    width: 50%;

    &--color {
      margin-bottom: 12px;
      width: auto;
    }
  }
}

.advantages__item {
  text-align: center;
  padding-top: 27px;
  padding-left: 35px;
  padding-right: 35px;

  &--color {
    background-color: @colorBasicBlue;
    padding-top: 34px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @vTabletWidth) {
    padding-top: 0;
    width: 30%;

    &--color {
      width: 100%;
    }
  }
}

.advantages__description {
  text-transform: uppercase;
  margin: 0;

  &--color {
    color: @colorWhite;
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: @vTabletWidth) {
      margin-top: 23px;
    }
  }
}

.advantages__image {
  display: block;
  margin-top: 38px;
  width: 100%;

  @media (min-width: @vTabletWidth) {
    margin-top: 0;
    height: 256px;
  }
}

.advantages__item-wrapper {
  @media (min-width: @vTabletWidth) {
    display: flex;
  }
}

.advantages__item-text {
  padding-left: 11px;
  padding-right: 18px;

  @media (min-width: @vTabletWidth) {
    padding: 40px 20px 0;
  }

  @media (min-width: @vDesktopWidth) {
    padding: 47px 52px 0;
  }
}

.advantages__order {
  line-height: 1.5;
  margin: 0;
  display: block;
  margin-bottom: 17px;
}

.advantages__item--color .advantages__order {
  color: @colorWhite;
}

.advantages__item .image-wrapper {
  @media (min-width: @vTabletWidth) {
    flex: 0 0 512px;
    margin-left: auto;

    &--order {
      order: -1;
      margin-right: auto;
    }
  }

  @media (min-width: @vDesktopWidth) {
    flex: 0 0 800px;

    &--order {
      margin-left: 0;
    }
  }
}
