.features {
  background-color: @colorWhite;
  list-style: none;
  padding: 24px 20px 32px 18px;

  @media (min-width: @vTabletWidth) {
    padding: 57px 0 38px;
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  margin-bottom: 21px;
  display: flex;

  @media (min-width: @vTabletWidth) {
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
  }
}

.features__item:last-child {
  @media (min-width: @vTabletWidth) {
    margin-right: 0;
  }
}

.features__name {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media (min-width: @vTabletWidth) {
    font-size: 21px;
    line-height: 1.24;
    text-align: center;
    margin-bottom: 24px;
  }
}

.features__description {
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @vTabletWidth) {
    text-align: center;
  }
}

.features__wrapper {
  padding-top: 8px;

  @media (min-width: @vTabletWidth) {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
}

.features__icon {
  fill: @colorBasicBlue;
  height: 40px;
  flex: 0 0 40px;
  margin-right: 8px;

  @media (min-width: @vTabletWidth) {
    height: 76px;
    flex: 0 0 76px;
  }
}
