.hotel-offer {
  padding: 39px 18px 49px;
  text-align: center;
}

.hotel-offer__name {
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  text-transform: uppercase;
  margin-bottom: 25px;
}


.hotel-offer__description {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
}
