.info {
  margin-top: -40px;
}

.info__container {
  background: @colorWhite url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

.info__description {
  background-color: @colorWhite;
  padding: 33px 28px 30px 22px;
}

.info__description-text {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  color: @colorBlackDark;
  text-align: center;
}

.info__slogan {
  padding-bottom: 80px;
}

.info__slogan-img {
  margin: 0 auto;
  display: block;
}
