.info {
  margin-top: -47px;
}

.info__container {
  background: @colorWhite url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

.info__description {
  background-color: @colorWhite;
  padding: 58px 28px 27px 22px;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0 100%);
}

.info__description-text {
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: @colorBlackDark;
  text-align: center;
}

.info__slogan {
  padding-bottom: 60px;
}

.info__slogan-img {
  margin: 0 auto;
  display: block;
}
