.feedback {
  text-align: left;

  @media (min-width: @vTabletWidth) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 26px;
    padding-bottom: 35px;
  }

  @media (min-width: @vDesktopWidth) {
    padding-top: 49px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.feedback__group {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
  position: relative;

  &--control {
    padding-bottom: 9px;
  }

  @media (min-width: @vTabletWidth) {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 0;

    &--person {
      width: 50%;
      align-self: flex-start;
    }

    &:first-child {
      padding-right: 43px;
      border-right: 2px solid @colorSpecialGrey;
      position: relative;
    }

    &:last-of-type {
      padding-top: 42px;
    }
  }

  @media (min-width: @vDesktopWidth) {
    padding-top: 56px;
    padding-bottom: 19px;

    &--person {
      padding-top: 0;
      padding-bottom: 0;
    }

    &:last-of-type {
      padding-top: 71px;
    }
  }
}

.feedback__group:not(:last-of-type)::after {
  content: "";
  height: 1px;
  background-color: @colorBorderGrey;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @vTabletWidth) {
    display: none;
  }
}

.feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @vTabletWidth) {
    font-size: 21px;
    line-height: 1.24;
    margin: 0 auto;
    margin-bottom: 28px;
    position: relative;

    &--variation {
      padding-left: 170px;
      padding-right: 172px;
    }
  }

  @media (min-width: @vDesktopWidth) {
    line-height: 0.96;
    margin-bottom: 31px;

    &--variation {
      padding-left: 300px;
      padding-right: 300px;
      line-height: 1.1;
      margin-bottom: 43px;
    }
  }
}

.feedback__group--person:first-of-type .feedback__title {
  @media (min-width: @vTabletWidth) {
    margin-left: 44px;
  }

  @media (min-width: @vDesktopWidth) {
    margin-left: 10px;
  }
}

.feedback__title::before,
.feedback__title::after {
  @media (min-width: @vTabletWidth) {
    content: "";
    width: 123px;
    height: 1px;
    background-color: @colorBorderGrey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .feedback__group--person & {
      display: none;
    }
  }

  @media (min-width: @vDesktopWidth) {
    width: 280px;
  }
}

.feedback__title::before {
  left: 0;
}

.feedback__title::after {
  right: 0;
}

.feedback__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  &--pixelPerfect {
    margin-bottom: 12px;
  }
}

.feedback__input {
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;

  @media (min-width: @vDesktopWidth) {
    max-width: 430px;
  }
}

.feedback__label {
  text-transform: uppercase;
  margin-left: 16px;
}


.feedback__group--person .feedback__title {
  @media (min-width: @vDesktopWidth) {
    margin-left: 10px;
  }
}
