.form {
  @media (min-width: @vDesktopWidth) {
    background-color: @colorWhite;
  }
}

.form__content {
  padding-top: 38px;
  padding-bottom: 30px;

  @media (min-width: @vTabletWidth) {
    padding-top: 51px;
  }

  @media (min-width: @vDesktopWidth) {
    padding-top: 105px;
  }
}

.form__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin-bottom: 23px;

  @media (min-width: @vTabletWidth) {
    font-size: 30px;
    line-height: 0.87;
  }

  @media (min-width: @vDesktopWidth) {
    margin-bottom: 32px;
  }
}

.form__description {
  margin: 0;
  text-transform: uppercase;
  line-height: 21px;
  position: relative;
  padding-bottom: 28px;

  @media (min-width: @vTabletWidth) {
    margin-left: 130px;
    margin-right: 128px;
    line-height: 1.6;
  }

  @media (min-width: @vDesktopWidth) {
    margin-left: 350px;
    margin-right: 350px;
  }
}

.form__description::after {
  content: "";
  height: 1px;
  background-color: @colorBorderGrey;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @vTabletWidth) {
    display: none;
  }
}

.form__button {
  margin-top: 17px;

  @media (min-width: @vTabletWidth) {
    width: 50%;
    margin-top: 30px;
    padding-top: 23px;
    line-height: 0.96;
    padding-left: 7px;
  }
}

.form__legend {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  display: block;
  margin-top: 2px;

  @media (min-width: @vTabletWidth) {
    color: @colorBlackDark;
    font-size: 14px;
    margin-top: 0;
    align-self: end;
    margin-bottom: 14px;
  }
}
