.card {
  padding-top: 24px;
}

.card__image {
  display: block;
  border: none;
}

.card__name {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 15px;
}

.card__author {
  margin: 0;
  text-align: left;
  margin-bottom: 11px;
}

.card__like {
  display: flex;
  margin-bottom: 25px;
}

.card__like-count {
  margin: 0;
  margin-left: 14px;
  font-weight: 700;
}
