.catalog {
  @media (min-width: @vDesktopWidth) {
    background-color: @colorWhite;
  }
}

.catalog__intro {
  padding-bottom: 41px;

  @media (min-width: @vTabletWidth) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 63px;
  }

  @media (min-width: @vDesktopWidth) {
    padding-left: 380px;
    padding-right: 380px;
  }
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin-bottom: 26px;

  @media (min-width: @vTabletWidth) {
    font-size: 30px;
    line-height: 0.87;
    margin-bottom: 32px;
  }
}

.catalog__description {
  margin: 0;
  text-transform: uppercase;

  &--video {
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 39px;

    @media (min-width: @vTabletWidth) {
      margin-bottom: 90px;
      margin-left: 100px;
      margin-right: 100px;
    }

    @media (min-width: @vDesktopWidth) {
      margin-left: 175px;
      margin-right: 175px;
    }
  }
}

.catalog__photo {
  padding-top: 34px;

  @media (min-width: @vTabletWidth) {
    padding-top: 47px;
  }

  @media (min-width: @vDesktopWidth) {
    padding-top: 90px;
  }
}
