.catalog {
  @media (min-width: @vDesktopWidth) {
    background-color: @colorWhite;
  }
}

.catalog__intro {
  padding-bottom: 41px;

  @media (min-width: @vTabletWidth) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 63px;
  }

  @media (min-width: @vDesktopWidth) {
    padding-left: 380px;
    padding-right: 380px;
  }
}

.catalog__title {
  .fontTitle;
  margin-bottom: 26px;

  @media (min-width: @vTabletWidth) {
    margin-bottom: 32px;
  }
}

.catalog__description {
  .fontDescription;
}


.catalog__photo {
  padding-top: 34px;

  @media (min-width: @vTabletWidth) {
    padding-top: 47px;
  }

  @media (min-width: @vDesktopWidth) {
    padding-top: 90px;
  }
}
