.catalog__intro {
  padding-bottom: 48px;

  @media (min-width: @vTabletWidth) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 63px;
  }
}

.catalog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media (min-width: @vTabletWidth) {
    font-size: 30px;
    line-height: 0.87;
  }
}

.catalog__description {
  margin: 0;
  text-transform: uppercase;

  &--video {
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (min-width: @vTabletWidth) {
    &--video {
      margin-bottom: 60px;
    }
  }
}

.catalog__photo {
  padding-top: 37px;

  @media (min-width: @vTabletWidth) {
    padding-top: 47px;
  }
}
